@use '../mixins' as *;

.el-table {
  margin: 25px auto;

  &__body tr:hover > &__cell {
    background-color: transparent !important;
  }

  &__cell {
    .cell {
      text-overflow: clip !important;
    }
  }
}
