@use './mixins' as *;
@use './vars' as *;

.page-content {
  padding: 48px 32px;

  @include up-from('lg') {
    &.has-sidebar {
      padding-left: var(--vp-sidebar-width-small);

      @include up-from('xlg') {
        padding-right: var(--vp-sidebar-width-small);
      }
    }
  }
}
