@use './mixins' as *;
// css variables
:root {
  // colors
  --text-color: var(--el-text-color-primary);
  --text-color-light: var(--el-text-color-regular);
  --text-color-lighter: var(--el-text-color-secondary);

  --brand-color: var(--el-color-primary);

  --bg-color: var(--el-bg-color);
  --bg-color-soft: #fafafa;
  --bg-color-mute: #f2f2f2;
  --border-color: var(--el-border-color);

  --font-family:"SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif";
  --font-family-mono: 'JetBrains Mono', source-code-pro, Menlo, Monaco, Consolas,
    'Courier New', monospace;

  // header
  --header-height: 55px;

  // sidebar
  --vp-sidebar-width-small: 320px;

  @include up-from('lg') {
    --vp-sidebar-width-small: 294px;
  }

  @include up-from('max') {
    --vp-sidebar-width-small: 426px;
  }

  // scrollbar
  --scrollbar-size: 6px;

  --nav-z-index: 12;
  --sidebar-z-index: 11;
  --sidebar-z-index-mobile: 31;
  --overlay-z-index: 30;

  // link
  --link-active-bg-color: rgba(var(--el-color-primary-rgb), 0.1);
}

.dark {
  --bg-color-soft: #242424;
  --bg-color-mute: #2c2c2c;
}
