@use './mixins' as *;
:root {
  --brand-color: var(--el-color-primary);
  --text-color: var(--el-text-color-primary);
  --text-color-light: var(--el-text-color-regular);
  --border-color: var(--el-border-color);
  --bg-color: var(--el-bg-color);
  --bg-color-soft: #fafafa;
  --bg-color-mute: #f2f2f2;
  --bg-color-link-active: rgba(var(--el-color-primary-rgb), 0.1);

  // It is recommended to install InterVariable.ttf for best readability
  --font-family: inter, system-ui;
  --font-family-mono: JetBrains Mono, ui-monospace;

  // header
  --header-height: 55px;

  // sidebar
  --vp-sidebar-width-small: 320px;

  @include up-from('lg') {
    --vp-sidebar-width-small: 294px;
  }

  @include up-from('max') {
    --vp-sidebar-width-small: 426px;
  }

  // layer
  --nav-z-index: 12;
  --sidebar-z-index: 11;
  --sidebar-z-index-mobile: 31;
  --overlay-z-index: 30;

  // scrollbar
  --scrollbar-size: 6px;
}

.dark {
  --bg-color-soft: #242424;
  --bg-color-mute: #2c2c2c;
}
