@use 'sass:map';
@use './vars' as *;

@mixin with-bg {
  color: var(--text-color);
  background-color: var(--bg-color);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

@mixin with-border {
  border-bottom: 1px solid var(--border-color);
}

$breakpoints: (
  'sm': #{$breakpoint-sm},
  'md': #{$breakpoint-md},
  'lg': #{$breakpoint-lg},
  'xlg': #{$breakpoint-xlg},
  'xxl': #{$breakpoint-xxl},
  'max': #{$breakpoint-max},
  'p-825': #{$breakpoint-u-825},
) !default;

@mixin up-from($breakpoint) {
  @if #{map.has-key($breakpoints, $breakpoints)} {
    @media screen and (min-width: #{map.get($breakpoints, $breakpoint)}) {
      @content;
    }
  }
}

@mixin down-to($breakpoint) {
  @if #{map.has-key($breakpoints, $breakpoints)} {
    @media screen and (max-width: #{map.get($breakpoints, $breakpoint)}) {
      @content;
    }
  }
}
