@use './mixins' as *;
@use './nav/menu';

.navbar {
  top: 0;
  position: relative;
  z-index: var(--nav-z-index);

  @include up-from('lg') {
    position: sticky;
  }
}

.navbar-wrapper {
  @include with-border;
  height: var(--header-height);
  padding: 0 32px;
  backdrop-filter: saturate(80%) blur(4px);

  .header-container {
    display: flex;
    justify-content: space-between;

    .content {
      display: flex;
      align-items: center;
    }
  }

  @include up-from('max') {
    padding: 0 96px;
  }

  @include up-from('md') {
    .content {
      padding-top: 1px;
    }
  }
}

