@use './mixins' as *;
@use './vars' as *;

.sidebar {
  @include with-bg;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: var(--sidebar-z-index);
  width: var(--vp-sidebar-width-small);
  padding: 22px 0 0 32px;
  overflow-y: auto;
  transform: translate(-100%);

  .sidebar-groups {
    .sidebar-group__title {
      font-size: 1rem;
      font-weight: 700;
      margin-bottom: 8px;
      line-height: 24px;
    }

    .sidebar-group + .sidebar-group {
      padding-top: 24px;
    }

    @include up-from('lg') {
      padding-bottom: 48px;
    }
  }

  &.open {
    transform: translate(0);
  }

  @include down-to('lg') {
    z-index: var(--sidebar-z-index-mobile);
  }

  @include up-from('lg') {
    top: var(--header-height);
    padding: 48px 32px;
    transform: translate(0);
  }

  @include up-from('max') {
    padding-left: 96px;
    padding-right: 64px;
  }
}
