@use './mixins' as *;

.sub-nav {
  @include with-border;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  padding: 0 32px;
  justify-content: space-between;
  z-index: var(--nav-z-index);
  overflow: hidden;
  backdrop-filter: saturate(80%) blur(4px);

  .shifting-enter-from,
  .shifting-leave-to {
    opacity: 0;
    transform: translateY(100%);
  }

  .shifting-enter-to,
  .shifting-leave-from {
    opacity: 1;
    transform: translateY(0);
  }

  .shifting-enter-active,
  .shifting-leave-active {
    transition: all 0.3s ease;
  }

  @include up-from('lg') {
    display: none;
  }

}
