@use './mixins' as *;

.toc-sidebar {
  @include with-bg;
  position: fixed;
  bottom: 0;
  right: 0;
  top: var(--header-height);
  z-index: var(--sidebar-z-index);
  width: var(--vp-sidebar-width-small);
  padding: 48px 32px;
  overflow-y: auto;
  scrollbar-width: none;
  transform: translate(100%);

  @include up-from('xlg') {
    transform: translate(0);
  }

  @include up-from('max') {
    padding-right: 96px;
    padding-left: 64px;
  }
}
