@use './mixins' as *;

.toc-sidebar {
  position: fixed;
  bottom: 0;
  right: 0;
  top: 0;
  width: var(--vp-sidebar-width-small);
  padding: calc(var(--header-height) + 48px) 32px 48px 32px;
  overflow-y: auto;
  scrollbar-width: none;
  transform: translate(100%);

  @include up-from('xlg') {
    transform: translate(0);
  }

  @include up-from('max') {
    padding-right: 96px;
    padding-left: 64px;
  }
}
